.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 28px;
  padding-bottom: 5px;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background: #bcd8e9;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2aa7ff;
  outline: 1px solid #2aa7ff;
  outline-offset: 4px;
}

.doctor-swiper {
  padding-bottom: 40px;
}
.doctor-swiper .swiper-pagination {
  bottom: 0;
}
